@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.topo{
    display: flex;
    padding: 30px;
    background-image: url(../img/imagens/pexels-photo-1552249.jpeg);
    background-position: center;
}

.logo{
    flex: 100%;
    padding: 10px;
    text-align: center;
    color: white;
}

.logo h1{
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}

.logo p{
    letter-spacing: 4px;
}

